*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
}

ul,
ol {
  list-style-type: none;
}

h1 {
  text-align: center;
  margin: 20px;
}

.main-list {
  padding: 20px;
}

.box {
  padding: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.input {
  height: 40px;
  width: 250px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid black;
}

.btn {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

.btn:hover {
  background-color: #6c8cff;
}

.btn:disabled {
  background-color: #ccc;
  color: #665;
  cursor: not-allowed;
  opacity: 0.7;
}

.btn:disabled:hover {
  background-color: #ccc;
  color: #665;
}

#datetime-picker:disabled {
  pointer-events: none;
  color: #808080;
  border-color: #808080;
  cursor: none;
}

.timer {
  display: flex;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  margin-top: 30px;
}

.value {
  font-size: 40px;
}

.label {
  text-transform: uppercase;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.number {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid black;
  outline: none;
  margin: 10px 0 10px;
  padding: 10px;
  transition: border-color 200ms ease-out;
}

form .number:focus {
  border: 1px solid#74b9ff;
}

.fieldset {
  margin: 20px 0 20px;
  padding: 20px;
  width: 100%;
  border-radius: 4px;
}

form button {
  width: 100%;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid;
  color: white;
  background-color: #0984e3;
  transition: background-color 200ms ease-out;
}

form button:hover {
  background-color: #74b9ff;
}

.radio {
}
